In [1]:
import findspark
findspark.init('/home/user/spark-3.0.0-bin-hadoop2.7')
import pyspark

In [2]:
import re

from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.mllib.evaluation import MulticlassMetrics
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.ml.classification import LogisticRegression

In [3]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.sql.types import FloatType

spark = SparkSession.Builder().master('local').appName('titanic').getOrCreate()

sc = spark.sparkContext

In [4]:
titanic_data = spark.read.csv('/home/user/PROJECTS luminar/spark mlib/titanic.csv',
                              inferSchema=True, header=True)

In [5]:
titanic_data.show()
print(titanic_data.count())
titanic_data.printSchema()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

891
root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [6]:
# titanic_data_pandas=titanic_data.toPandas()
# to find the correlation between different columns (Non string) in dataframe with respect to Survived Column

# print(titanic_data.select('Age').dtypes[0][1])
print(titanic_data.dtypes)
for c in titanic_data.columns:
    if titanic_data.select(c).dtypes[0][1] != 'string':
        print(c + '=' + str(titanic_data.stat.corr(c, 'Survived')))

[('PassengerId', 'int'), ('Survived', 'int'), ('Pclass', 'int'), ('Name', 'string'), ('Sex', 'string'), ('Age', 'double'), ('SibSp', 'int'), ('Parch', 'int'), ('Ticket', 'string'), ('Fare', 'double'), ('Cabin', 'string'), ('Embarked', 'string')]
PassengerId=-0.005006660767066522
Survived=1.0
Pclass=-0.33848103596101514
Age=0.010539215871285685
SibSp=-0.03532249888573558
Parch=0.08162940708348336
Fare=0.2573065223849626

In [7]:
# To find the null value count in each column
for c in titanic_data.columns:
    print(c, titanic_data.filter(col(c).isNull()).count())

PassengerId 0
Survived 0
Pclass 0
Name 0
Sex 0
Age 177
SibSp 0
Parch 0
Ticket 0
Fare 0
Cabin 687
Embarked 2

In [8]:
titanic_data.groupBy('Embarked').count().orderBy('count', ascending=False).first()

Row(Embarked='S', count=644)

In [9]:
# To find the mode of embarked column

mode_embarked=titanic_data.groupBy('Embarked').count().orderBy('count', ascending=False).first()[0]

# print('mode ' , titanic_data.select('Embarked').collect())

print('mode', mode_embarked)

mode S

In [10]:
# To fill embarked column with mode of Embarked Column
# titanic_data = titanic_data.fillna(mode_embarked, subset=['Embarked'])


for c in titanic_data.columns:
    print(c, titanic_data.filter(col(c).isNull()).count())


age_mean = titanic_data.select(mean('Age')).first()[0]
# age_mean.show()
print(int(age_mean))

PassengerId 0
Survived 0
Pclass 0
Name 0
Sex 0
Age 177
SibSp 0
Parch 0
Ticket 0
Fare 0
Cabin 687
Embarked 2
29

In [11]:

# titanic_data = titanic_data.fillna(int(age_mean), subset=['Age'])


#
#
titanic_data = titanic_data.fillna({'Age':int(age_mean) , 'Embarked':mode_embarked})
#
for c in titanic_data.columns:
    print(c, titanic_data.filter(col(c).isNull()).count())
#
titanic_data = titanic_data.drop('Cabin')
titanic_data.show()
#
#

PassengerId 0
Survived 0
Pclass 0
Name 0
Sex 0
Age 0
SibSp 0
Parch 0
Ticket 0
Fare 0
Cabin 687
Embarked 0
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|
|          6|       0|     3|    Moran, Mr. James|  male|29.0|    0|    0|          330877| 8.4583|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|29.0|    0|    0|          244373|   13.0|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|29.0|    0|    0|            2649|  7.225|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
only showing top 20 rows

In [12]:
def title_extract(name):
    return re.findall(r'( [A-Za-z]+)\.',name)[0]

In [13]:
#
#
title_extract_udf = udf(title_extract)
titanic_data = titanic_data.withColumn('Title', title_extract_udf('Name'))
titanic_data.groupBy('Title').count().show()
titanic_data.show()
# # # rare = titanic_data.groupBy('Title').count().filter(col('count')<8).select('Title').collect()
# # # rare = [x[0] for x in rare]
# # # print(rare)
#

+---------+-----+
|    Title|count|
+---------+-----+
|   Master|   40|
|      Rev|    6|
|     Capt|    1|
|      Mrs|  125|
|     Miss|  182|
|     Lady|    1|
| Jonkheer|    1|
|       Mr|  517|
|      Sir|    1|
|      Col|    2|
| Countess|    1|
|     Mlle|    2|
|       Dr|    7|
|    Major|    2|
|      Don|    1|
|       Ms|    1|
|      Mme|    1|
+---------+-----+

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|  Title|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|     Mr|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|    Mrs|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|   Miss|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|    Mrs|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|     Mr|
|          6|       0|     3|    Moran, Mr. James|  male|29.0|    0|    0|          330877| 8.4583|       Q|     Mr|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|       S|     Mr|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|       S| Master|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|       S|    Mrs|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|       C|    Mrs|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|       S|   Miss|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|       S|   Miss|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|       S|     Mr|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|       S|     Mr|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|       S|   Miss|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|       S|    Mrs|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|       Q| Master|
|         18|       1|     2|Williams, Mr. Cha...|  male|29.0|    0|    0|          244373|   13.0|       S|     Mr|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|       S|    Mrs|
|         20|       1|     3|Masselmani, Mrs. ...|female|29.0|    0|    0|            2649|  7.225|       C|    Mrs|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-------+
only showing top 20 rows

In [14]:
# stringI = StringIndexer(inputCol='Sex',outputCol='Sex_Index')
# model = stringI.fit(titanic_data)
# indexed_df = model.transform(titanic_data)


# indexed_df.show()
def string_index_fun(col_name):
    stringIndexer = StringIndexer(inputCol=col_name, outputCol=col_name+'_Index')
    model = stringIndexer.fit(titanic_data)
    indexed = model.transform(titanic_data)

    encoder = OneHotEncoder(inputCol=col_name+'_Index', outputCol=col_name+'_Vector')
    encode_model = encoder.fit(indexed)
    encoded = encode_model.transform(indexed)

    return encoded

In [15]:
indexables = ['Embarked','Sex','Title']
for i in indexables:
    titanic_data=string_index_fun(i)

In [16]:
titanic_data.show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-------+--------------+---------------+---------+-------------+-----------+--------------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|  Title|Embarked_Index|Embarked_Vector|Sex_Index|   Sex_Vector|Title_Index|  Title_Vector|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-------+--------------+---------------+---------+-------------+-----------+--------------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|     Mr|           0.0|  (2,[0],[1.0])|      0.0|(1,[0],[1.0])|        0.0|(16,[0],[1.0])|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|    Mrs|           1.0|  (2,[1],[1.0])|      1.0|    (1,[],[])|        2.0|(16,[2],[1.0])|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|   Miss|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        1.0|(16,[1],[1.0])|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|    Mrs|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        2.0|(16,[2],[1.0])|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|     Mr|           0.0|  (2,[0],[1.0])|      0.0|(1,[0],[1.0])|        0.0|(16,[0],[1.0])|
|          6|       0|     3|    Moran, Mr. James|  male|29.0|    0|    0|          330877| 8.4583|       Q|     Mr|           2.0|      (2,[],[])|      0.0|(1,[0],[1.0])|        0.0|(16,[0],[1.0])|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|       S|     Mr|           0.0|  (2,[0],[1.0])|      0.0|(1,[0],[1.0])|        0.0|(16,[0],[1.0])|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|       S| Master|           0.0|  (2,[0],[1.0])|      0.0|(1,[0],[1.0])|        3.0|(16,[3],[1.0])|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|       S|    Mrs|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        2.0|(16,[2],[1.0])|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|       C|    Mrs|           1.0|  (2,[1],[1.0])|      1.0|    (1,[],[])|        2.0|(16,[2],[1.0])|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|       S|   Miss|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        1.0|(16,[1],[1.0])|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|       S|   Miss|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        1.0|(16,[1],[1.0])|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|       S|     Mr|           0.0|  (2,[0],[1.0])|      0.0|(1,[0],[1.0])|        0.0|(16,[0],[1.0])|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|       S|     Mr|           0.0|  (2,[0],[1.0])|      0.0|(1,[0],[1.0])|        0.0|(16,[0],[1.0])|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|       S|   Miss|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        1.0|(16,[1],[1.0])|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|       S|    Mrs|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        2.0|(16,[2],[1.0])|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|       Q| Master|           2.0|      (2,[],[])|      0.0|(1,[0],[1.0])|        3.0|(16,[3],[1.0])|
|         18|       1|     2|Williams, Mr. Cha...|  male|29.0|    0|    0|          244373|   13.0|       S|     Mr|           0.0|  (2,[0],[1.0])|      0.0|(1,[0],[1.0])|        0.0|(16,[0],[1.0])|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|       S|    Mrs|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        2.0|(16,[2],[1.0])|
|         20|       1|     3|Masselmani, Mrs. ...|female|29.0|    0|    0|            2649|  7.225|       C|    Mrs|           1.0|  (2,[1],[1.0])|      1.0|    (1,[],[])|        2.0|(16,[2],[1.0])|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+-------+--------------+---------------+---------+-------------+-----------+--------------+
only showing top 20 rows

In [17]:

titanic_data = titanic_data.drop('PassengerId','Title','Embarked','Name','Ticket','Sex')

In [18]:
titanic_data.show()

+--------+------+----+-----+-----+-------+--------------+---------------+---------+-------------+-----------+--------------+
|Survived|Pclass| Age|SibSp|Parch|   Fare|Embarked_Index|Embarked_Vector|Sex_Index|   Sex_Vector|Title_Index|  Title_Vector|
+--------+------+----+-----+-----+-------+--------------+---------------+---------+-------------+-----------+--------------+
|       0|     3|22.0|    1|    0|   7.25|           0.0|  (2,[0],[1.0])|      0.0|(1,[0],[1.0])|        0.0|(16,[0],[1.0])|
|       1|     1|38.0|    1|    0|71.2833|           1.0|  (2,[1],[1.0])|      1.0|    (1,[],[])|        2.0|(16,[2],[1.0])|
|       1|     3|26.0|    0|    0|  7.925|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        1.0|(16,[1],[1.0])|
|       1|     1|35.0|    1|    0|   53.1|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        2.0|(16,[2],[1.0])|
|       0|     3|35.0|    0|    0|   8.05|           0.0|  (2,[0],[1.0])|      0.0|(1,[0],[1.0])|        0.0|(16,[0],[1.0])|
|       0|     3|29.0|    0|    0| 8.4583|           2.0|      (2,[],[])|      0.0|(1,[0],[1.0])|        0.0|(16,[0],[1.0])|
|       0|     1|54.0|    0|    0|51.8625|           0.0|  (2,[0],[1.0])|      0.0|(1,[0],[1.0])|        0.0|(16,[0],[1.0])|
|       0|     3| 2.0|    3|    1| 21.075|           0.0|  (2,[0],[1.0])|      0.0|(1,[0],[1.0])|        3.0|(16,[3],[1.0])|
|       1|     3|27.0|    0|    2|11.1333|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        2.0|(16,[2],[1.0])|
|       1|     2|14.0|    1|    0|30.0708|           1.0|  (2,[1],[1.0])|      1.0|    (1,[],[])|        2.0|(16,[2],[1.0])|
|       1|     3| 4.0|    1|    1|   16.7|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        1.0|(16,[1],[1.0])|
|       1|     1|58.0|    0|    0|  26.55|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        1.0|(16,[1],[1.0])|
|       0|     3|20.0|    0|    0|   8.05|           0.0|  (2,[0],[1.0])|      0.0|(1,[0],[1.0])|        0.0|(16,[0],[1.0])|
|       0|     3|39.0|    1|    5| 31.275|           0.0|  (2,[0],[1.0])|      0.0|(1,[0],[1.0])|        0.0|(16,[0],[1.0])|
|       0|     3|14.0|    0|    0| 7.8542|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        1.0|(16,[1],[1.0])|
|       1|     2|55.0|    0|    0|   16.0|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        2.0|(16,[2],[1.0])|
|       0|     3| 2.0|    4|    1| 29.125|           2.0|      (2,[],[])|      0.0|(1,[0],[1.0])|        3.0|(16,[3],[1.0])|
|       1|     2|29.0|    0|    0|   13.0|           0.0|  (2,[0],[1.0])|      0.0|(1,[0],[1.0])|        0.0|(16,[0],[1.0])|
|       0|     3|31.0|    1|    0|   18.0|           0.0|  (2,[0],[1.0])|      1.0|    (1,[],[])|        2.0|(16,[2],[1.0])|
|       1|     3|29.0|    0|    0|  7.225|           1.0|  (2,[1],[1.0])|      1.0|    (1,[],[])|        2.0|(16,[2],[1.0])|
+--------+------+----+-----+-----+-------+--------------+---------------+---------+-------------+-----------+--------------+
only showing top 20 rows

In [19]:
titanic_data=titanic_data.drop(*[c for c in titanic_data.columns if c.endswith('Index')])
titanic_data.show()

+--------+------+----+-----+-----+-------+---------------+-------------+--------------+
|Survived|Pclass| Age|SibSp|Parch|   Fare|Embarked_Vector|   Sex_Vector|  Title_Vector|
+--------+------+----+-----+-----+-------+---------------+-------------+--------------+
|       0|     3|22.0|    1|    0|   7.25|  (2,[0],[1.0])|(1,[0],[1.0])|(16,[0],[1.0])|
|       1|     1|38.0|    1|    0|71.2833|  (2,[1],[1.0])|    (1,[],[])|(16,[2],[1.0])|
|       1|     3|26.0|    0|    0|  7.925|  (2,[0],[1.0])|    (1,[],[])|(16,[1],[1.0])|
|       1|     1|35.0|    1|    0|   53.1|  (2,[0],[1.0])|    (1,[],[])|(16,[2],[1.0])|
|       0|     3|35.0|    0|    0|   8.05|  (2,[0],[1.0])|(1,[0],[1.0])|(16,[0],[1.0])|
|       0|     3|29.0|    0|    0| 8.4583|      (2,[],[])|(1,[0],[1.0])|(16,[0],[1.0])|
|       0|     1|54.0|    0|    0|51.8625|  (2,[0],[1.0])|(1,[0],[1.0])|(16,[0],[1.0])|
|       0|     3| 2.0|    3|    1| 21.075|  (2,[0],[1.0])|(1,[0],[1.0])|(16,[3],[1.0])|
|       1|     3|27.0|    0|    2|11.1333|  (2,[0],[1.0])|    (1,[],[])|(16,[2],[1.0])|
|       1|     2|14.0|    1|    0|30.0708|  (2,[1],[1.0])|    (1,[],[])|(16,[2],[1.0])|
|       1|     3| 4.0|    1|    1|   16.7|  (2,[0],[1.0])|    (1,[],[])|(16,[1],[1.0])|
|       1|     1|58.0|    0|    0|  26.55|  (2,[0],[1.0])|    (1,[],[])|(16,[1],[1.0])|
|       0|     3|20.0|    0|    0|   8.05|  (2,[0],[1.0])|(1,[0],[1.0])|(16,[0],[1.0])|
|       0|     3|39.0|    1|    5| 31.275|  (2,[0],[1.0])|(1,[0],[1.0])|(16,[0],[1.0])|
|       0|     3|14.0|    0|    0| 7.8542|  (2,[0],[1.0])|    (1,[],[])|(16,[1],[1.0])|
|       1|     2|55.0|    0|    0|   16.0|  (2,[0],[1.0])|    (1,[],[])|(16,[2],[1.0])|
|       0|     3| 2.0|    4|    1| 29.125|      (2,[],[])|(1,[0],[1.0])|(16,[3],[1.0])|
|       1|     2|29.0|    0|    0|   13.0|  (2,[0],[1.0])|(1,[0],[1.0])|(16,[0],[1.0])|
|       0|     3|31.0|    1|    0|   18.0|  (2,[0],[1.0])|    (1,[],[])|(16,[2],[1.0])|
|       1|     3|29.0|    0|    0|  7.225|  (2,[1],[1.0])|    (1,[],[])|(16,[2],[1.0])|
+--------+------+----+-----+-----+-------+---------------+-------------+--------------+
only showing top 20 rows

In [20]:
input_cols = titanic_data.columns

In [21]:
input_cols.remove('Survived')
print(input_cols)

['Pclass', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_Vector', 'Sex_Vector', 'Title_Vector']

In [22]:
#vectorization
assembler = VectorAssembler(inputCols=input_cols,outputCol='features')
titanic_data = assembler.transform(titanic_data)

In [23]:
titanic_data.show(truncate=False)

+--------+------+----+-----+-----+-------+---------------+-------------+--------------+------------------------------------------------------------+
|Survived|Pclass|Age |SibSp|Parch|Fare   |Embarked_Vector|Sex_Vector   |Title_Vector  |features                                                    |
+--------+------+----+-----+-----+-------+---------------+-------------+--------------+------------------------------------------------------------+
|0       |3     |22.0|1    |0    |7.25   |(2,[0],[1.0])  |(1,[0],[1.0])|(16,[0],[1.0])|(24,[0,1,2,4,5,7,8],[3.0,22.0,1.0,7.25,1.0,1.0,1.0])        |
|1       |1     |38.0|1    |0    |71.2833|(2,[1],[1.0])  |(1,[],[])    |(16,[2],[1.0])|(24,[0,1,2,4,6,10],[1.0,38.0,1.0,71.2833,1.0,1.0])          |
|1       |3     |26.0|0    |0    |7.925  |(2,[0],[1.0])  |(1,[],[])    |(16,[1],[1.0])|(24,[0,1,4,5,9],[3.0,26.0,7.925,1.0,1.0])                   |
|1       |1     |35.0|1    |0    |53.1   |(2,[0],[1.0])  |(1,[],[])    |(16,[2],[1.0])|(24,[0,1,2,4,5,10],[1.0,35.0,1.0,53.1,1.0,1.0])             |
|0       |3     |35.0|0    |0    |8.05   |(2,[0],[1.0])  |(1,[0],[1.0])|(16,[0],[1.0])|(24,[0,1,4,5,7,8],[3.0,35.0,8.05,1.0,1.0,1.0])              |
|0       |3     |29.0|0    |0    |8.4583 |(2,[],[])      |(1,[0],[1.0])|(16,[0],[1.0])|(24,[0,1,4,7,8],[3.0,29.0,8.4583,1.0,1.0])                  |
|0       |1     |54.0|0    |0    |51.8625|(2,[0],[1.0])  |(1,[0],[1.0])|(16,[0],[1.0])|(24,[0,1,4,5,7,8],[1.0,54.0,51.8625,1.0,1.0,1.0])           |
|0       |3     |2.0 |3    |1    |21.075 |(2,[0],[1.0])  |(1,[0],[1.0])|(16,[3],[1.0])|(24,[0,1,2,3,4,5,7,11],[3.0,2.0,3.0,1.0,21.075,1.0,1.0,1.0])|
|1       |3     |27.0|0    |2    |11.1333|(2,[0],[1.0])  |(1,[],[])    |(16,[2],[1.0])|(24,[0,1,3,4,5,10],[3.0,27.0,2.0,11.1333,1.0,1.0])          |
|1       |2     |14.0|1    |0    |30.0708|(2,[1],[1.0])  |(1,[],[])    |(16,[2],[1.0])|(24,[0,1,2,4,6,10],[2.0,14.0,1.0,30.0708,1.0,1.0])          |
|1       |3     |4.0 |1    |1    |16.7   |(2,[0],[1.0])  |(1,[],[])    |(16,[1],[1.0])|(24,[0,1,2,3,4,5,9],[3.0,4.0,1.0,1.0,16.7,1.0,1.0])         |
|1       |1     |58.0|0    |0    |26.55  |(2,[0],[1.0])  |(1,[],[])    |(16,[1],[1.0])|(24,[0,1,4,5,9],[1.0,58.0,26.55,1.0,1.0])                   |
|0       |3     |20.0|0    |0    |8.05   |(2,[0],[1.0])  |(1,[0],[1.0])|(16,[0],[1.0])|(24,[0,1,4,5,7,8],[3.0,20.0,8.05,1.0,1.0,1.0])              |
|0       |3     |39.0|1    |5    |31.275 |(2,[0],[1.0])  |(1,[0],[1.0])|(16,[0],[1.0])|(24,[0,1,2,3,4,5,7,8],[3.0,39.0,1.0,5.0,31.275,1.0,1.0,1.0])|
|0       |3     |14.0|0    |0    |7.8542 |(2,[0],[1.0])  |(1,[],[])    |(16,[1],[1.0])|(24,[0,1,4,5,9],[3.0,14.0,7.8542,1.0,1.0])                  |
|1       |2     |55.0|0    |0    |16.0   |(2,[0],[1.0])  |(1,[],[])    |(16,[2],[1.0])|(24,[0,1,4,5,10],[2.0,55.0,16.0,1.0,1.0])                   |
|0       |3     |2.0 |4    |1    |29.125 |(2,[],[])      |(1,[0],[1.0])|(16,[3],[1.0])|(24,[0,1,2,3,4,7,11],[3.0,2.0,4.0,1.0,29.125,1.0,1.0])      |
|1       |2     |29.0|0    |0    |13.0   |(2,[0],[1.0])  |(1,[0],[1.0])|(16,[0],[1.0])|(24,[0,1,4,5,7,8],[2.0,29.0,13.0,1.0,1.0,1.0])              |
|0       |3     |31.0|1    |0    |18.0   |(2,[0],[1.0])  |(1,[],[])    |(16,[2],[1.0])|(24,[0,1,2,4,5,10],[3.0,31.0,1.0,18.0,1.0,1.0])             |
|1       |3     |29.0|0    |0    |7.225  |(2,[1],[1.0])  |(1,[],[])    |(16,[2],[1.0])|(24,[0,1,4,6,10],[3.0,29.0,7.225,1.0,1.0])                  |
+--------+------+----+-----+-----+-------+---------------+-------------+--------------+------------------------------------------------------------+
only showing top 20 rows

In [24]:
#spliting
train,test = titanic_data.randomSplit([0.8,0.2],seed=1)
print(train.count(),test.count())

731 160

# modeling

In [25]:
print('-'*40 + 'Logistic Regression' +'_'*40)

lr = LogisticRegression(labelCol='Survived', featuresCol='features')
lrmodel = lr.fit(train)

----------------------------------------Logistic Regression________________________________________

In [26]:
# predict_train=model.transform(train)
predict_test=lrmodel.transform(test)
predict_test.select("Survived","prediction").show()

+--------+----------+
|Survived|prediction|
+--------+----------+
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       1.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       1.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
+--------+----------+
only showing top 20 rows

In [27]:
#predict_test.show()

+--------+------+----+-----+-----+-------+---------------+-------------+---------------+--------------------+--------------------+--------------------+----------+
|Survived|Pclass| Age|SibSp|Parch|   Fare|Embarked_Vector|   Sex_Vector|   Title_Vector|            features|       rawPrediction|         probability|prediction|
+--------+------+----+-----+-----+-------+---------------+-------------+---------------+--------------------+--------------------+--------------------+----------+
|       0|     1|21.0|    0|    1|77.2875|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,3,4,5,7,...|[0.34160648894338...|[0.58458070545014...|       0.0|
|       0|     1|29.0|    0|    0|    0.0|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,5,7,8],[...|[0.29852675065698...|[0.57408232932709...|       0.0|
|       0|     1|29.0|    0|    0| 25.925|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,4,5,7,8]...|[0.25927191364233...|[0.56445730363394...|       0.0|
|       0|     1|29.0|    0|    0|   26.0|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,4,5,7,8]...|[0.25915835095088...|[0.56442938458065...|       0.0|
|       0|     1|29.0|    0|    0|27.7208|  (2,[1],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,4,6,7,8]...|[-0.2303128620551...|[0.44267495661887...|       1.0|
|       0|     1|29.0|    1|    0|   66.6|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,2,4,5,7,...|[0.72802025044531...|[0.67437067991196...|       0.0|
|       0|     1|31.0|    1|    0|   52.0|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,2,4,5,7,...|[0.80917473646167...|[0.69193361776898...|       0.0|
|       0|     1|33.0|    0|    0|    5.0|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,4,5,7,8]...|[0.40905113538397...|[0.60086033710499...|       0.0|
|       0|     1|40.0|    0|    0|27.7208|  (2,[1],[1.0])|(1,[0],[1.0])|(16,[11],[1.0])|(24,[0,1,4,6,7,19...|[-13.280515329735...|[1.70743717937383...|       1.0|
|       0|     1|44.0|    2|    0|   90.0|      (2,[],[])|(1,[0],[1.0])| (16,[4],[1.0])|(24,[0,1,2,4,7,12...|[0.07344743150432...|[0.51835360786779...|       0.0|
|       0|     1|47.0|    0|    0|25.5875|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,4,5,7,8]...|[0.79121148446334...|[0.68809140057735...|       0.0|
|       0|     1|47.0|    0|    0|   52.0|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,4,5,7,8]...|[0.75121848995422...|[0.67944414404962...|       0.0|
|       0|     1|50.0|    1|    0|106.425|  (2,[1],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,2,4,6,7,...|[0.80085279249458...|[0.69015687215131...|       0.0|
|       0|     1|56.0|    0|    0|30.6958|  (2,[1],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,4,6,7,8]...|[0.56232529258107...|[0.63699039721647...|       0.0|
|       0|     1|64.0|    1|    4|  263.0|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,2,3,4,5,...|[3.04915689939302...|[0.95474611349806...|       0.0|
|       0|     1|65.0|    0|    0|  26.55|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,4,5,7,8]...|[1.32118263529906...|[0.78937839892622...|       0.0|
|       0|     2|18.0|    0|    0|   11.5|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,4,5,7,8]...|[1.09925308185059...|[0.75012012947306...|       0.0|
|       0|     2|18.0|    0|    0|   13.0|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,4,5,7,8]...|[1.09698182802139...|[0.74969416403311...|       0.0|
|       0|     2|19.0|    1|    1|  36.75|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[0],[1.0])|(24,[0,1,2,3,4,5,...|[2.01717784005438...|[0.88258887629593...|       0.0|
|       0|     2|23.0|    0|    0|   10.5|  (2,[0],[1.0])|(1,[0],[1.0])| (16,[4],[1.0])|(24,[0,1,4,5,7,12...|[0.36740264652988...|[0.59083121749151...|       0.0|
+--------+------+----+-----+-----+-------+---------------+-------------+---------------+--------------------+--------------------+--------------------+----------+
only showing top 20 rows

In [28]:
tp = predict_test.filter((col('Survived')==0) & (col('prediction')==0)).count()
tn = predict_test.filter((col('Survived')==1) & (col('prediction')==1)).count()
fp = predict_test.filter((col('Survived')==1) & (col('prediction')==0)).count()
fn = predict_test.filter((col('Survived')==0) & (col('prediction')==1)).count()

In [29]:
# prediction , Label , float()
preds_and_labels = predict_test.select(['prediction','Survived']).withColumn('label', col('Survived').cast(FloatType())).orderBy('prediction')
metrics = MulticlassMetrics(preds_and_labels.select('prediction','label').rdd.map(tuple))

print(metrics.confusionMatrix().toArray())
print(tp,fp,fn,tn)

print('-'*55)

print('acc = '+ str((tp+tn)/(tp+tn+fp+fn)))

[[89. 15.]
 [14. 42.]]
89 14 15 42
-------------------------------------------------------
acc = 0.81875

In [30]:
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

evaluator = MulticlassClassificationEvaluator(
    labelCol="Survived", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predict_test)
print("Test Error = %g " % (1.0 - accuracy))
print(accuracy)
# print(tp/(tp+fp))
# #
#
print(lrmodel.coefficients , lrmodel.intercept)

Test Error = 0.18125
0.81875
[-1.142901161984344,-0.029523807706080152,-0.5303371698047312,-0.3962965534844821,0.0015141692194655138,-0.7113519015308525,-0.22448627091765708,-29.352086684280955,-13.374964352447638,-39.70100103191786,-38.81545671047,-9.864754400540312,-12.493980709377064,-47.99363901626195,-12.510364404113853,-12.543917071426865,197.06562465690737,-35.98322226901333,230.45751339367908,0.0,-49.16671077012835,240.39826442604013,210.04799658027727,174.3739639562326] 45.13896777306313

In [31]:
print('-'*40 + 'Decision Tree' + '_'*40)

----------------------------------------Decision Tree________________________________________

In [32]:
from pyspark.ml.classification import DecisionTreeClassifier

dt = DecisionTreeClassifier(labelCol='Survived', featuresCol='features')
dtmodel = dt.fit(train)
# predict_train=model.transform(train)
predict_testdt=dtmodel.transform(test)
predict_testdt .select("Survived","prediction").show()

+--------+----------+
|Survived|prediction|
+--------+----------+
|       0|       0.0|
|       0|       0.0|
|       0|       1.0|
|       0|       1.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       1.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       1.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
+--------+----------+
only showing top 20 rows

In [33]:
tp = predict_testdt.filter((col('Survived')==0) & (col('prediction')==0)).count()
tn = predict_testdt.filter((col('Survived')==1) & (col('prediction')==1)).count()
fp = predict_testdt.filter((col('Survived')==1) & (col('prediction')==0)).count()
fn = predict_testdt.filter((col('Survived')==0) & (col('prediction')==1)).count()
print(tp,fp,fn,tn)

print('acc = '+ str((tp+tn)/(tp+tn+fp+fn)))

89 18 15 38
acc = 0.79375

In [34]:
accuracy = evaluator.evaluate(predict_testdt)
print("Test Error = %g " % (1.0 - accuracy))


print('-'*40 + 'Random Forest' + '_'*40)

Test Error = 0.20625
----------------------------------------Random Forest________________________________________

In [35]:
from pyspark.ml.classification import RandomForestClassifier

rf = RandomForestClassifier(labelCol='Survived', featuresCol='features')
rfmodel = rf.fit(train)
# predict_train=model.transform(train)
predict_testrf=rfmodel.transform(test)
predict_testrf.select("Survived","prediction").show()

+--------+----------+
|Survived|prediction|
+--------+----------+
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       1.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
|       0|       0.0|
+--------+----------+
only showing top 20 rows

In [36]:
tp = predict_testrf.filter((col('Survived')==0) & (col('prediction')==0)).count()
tn = predict_testrf.filter((col('Survived')==1) & (col('prediction')==1)).count()
fp = predict_testrf.filter((col('Survived')==1) & (col('prediction')==0)).count()
fn = predict_testrf.filter((col('Survived')==0) & (col('prediction')==1)).count()
print(tp,fp,fn,tn)

print('acc = '+ str((tp+tn)/(tp+tn+fp+fn)))


accuracy = evaluator.evaluate(predict_testdt)
print("Test Error = %g " % (1.0 - accuracy))

88 16 16 40
acc = 0.8
Test Error = 0.20625

In [37]:
sc.stop()