In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/home/user/MLNOTES/datasets/landnew")

In [3]:
data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [4]:
data['SalePrice'].head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

### Checking correlation

In [5]:
saleprice_corr = data.corr()['SalePrice']

In [6]:
saleprice_corr

Id              -0.021917
MSSubClass      -0.084284
LotFrontage      0.334901
LotArea          0.263843
OverallQual      0.790982
OverallCond     -0.077856
YearBuilt        0.522897
YearRemodAdd     0.507101
MasVnrArea       0.475241
BsmtFinSF1       0.386420
BsmtFinSF2      -0.011378
BsmtUnfSF        0.214479
TotalBsmtSF      0.613581
1stFlrSF         0.605852
2ndFlrSF         0.319334
LowQualFinSF    -0.025606
GrLivArea        0.708624
BsmtFullBath     0.227122
BsmtHalfBath    -0.016844
FullBath         0.560664
HalfBath         0.284108
BedroomAbvGr     0.168213
KitchenAbvGr    -0.135907
TotRmsAbvGrd     0.533723
Fireplaces       0.466929
GarageYrBlt      0.470177
GarageCars       0.640409
GarageArea       0.623431
WoodDeckSF       0.324413
OpenPorchSF      0.315856
EnclosedPorch   -0.128578
3SsnPorch        0.044584
ScreenPorch      0.111447
PoolArea         0.092404
MiscVal         -0.021190
MoSold           0.046432
YrSold          -0.028923
SalePrice        1.000000
Name: SalePrice, dtype: float64

In [7]:
abs(saleprice_corr)>0.1

Id               False
MSSubClass       False
LotFrontage       True
LotArea           True
OverallQual       True
OverallCond      False
YearBuilt         True
YearRemodAdd      True
MasVnrArea        True
BsmtFinSF1        True
BsmtFinSF2       False
BsmtUnfSF         True
TotalBsmtSF       True
1stFlrSF          True
2ndFlrSF          True
LowQualFinSF     False
GrLivArea         True
BsmtFullBath      True
BsmtHalfBath     False
FullBath          True
HalfBath          True
BedroomAbvGr      True
KitchenAbvGr      True
TotRmsAbvGrd      True
Fireplaces        True
GarageYrBlt       True
GarageCars        True
GarageArea        True
WoodDeckSF        True
OpenPorchSF       True
EnclosedPorch     True
3SsnPorch        False
ScreenPorch       True
PoolArea         False
MiscVal          False
MoSold           False
YrSold           False
SalePrice         True
Name: SalePrice, dtype: bool

In [8]:
req_columns = saleprice_corr[abs(saleprice_corr)>0.1].index  #selecting columns with correlation

In [9]:
req_columns

Index(['LotFrontage', 'LotArea', 'OverallQual', 'YearBuilt', 'YearRemodAdd',
       'MasVnrArea', 'BsmtFinSF1', 'BsmtUnfSF', 'TotalBsmtSF', '1stFlrSF',
       '2ndFlrSF', 'GrLivArea', 'BsmtFullBath', 'FullBath', 'HalfBath',
       'BedroomAbvGr', 'KitchenAbvGr', 'TotRmsAbvGrd', 'Fireplaces',
       'GarageYrBlt', 'GarageCars', 'GarageArea', 'WoodDeckSF', 'OpenPorchSF',
       'EnclosedPorch', 'ScreenPorch', 'SalePrice'],
      dtype='object')

In [10]:
data_final = data[req_columns]

In [11]:
data_final.head()

,LotFrontage,LotArea,OverallQual,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,BsmtUnfSF,TotalBsmtSF,1stFlrSF,...,TotRmsAbvGrd,Fireplaces,GarageYrBlt,GarageCars,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,ScreenPorch,SalePrice
0,65.0,8450,7,2003,2003,196.0,706,150,856,856,...,8,0,2003.0,2,548,0,61,0,0,208500
1,80.0,9600,6,1976,1976,0.0,978,284,1262,1262,...,6,1,1976.0,2,460,298,0,0,0,181500
2,68.0,11250,7,2001,2002,162.0,486,434,920,920,...,6,1,2001.0,2,608,0,42,0,0,223500
3,60.0,9550,7,1915,1970,0.0,216,540,756,961,...,7,1,1998.0,3,642,0,35,272,0,140000
4,84.0,14260,8,2000,2000,350.0,655,490,1145,1145,...,9,1,2000.0,3,836,192,84,0,0,250000

In [12]:
#splitting X and y

y =  data['SalePrice']
X =  data_final.drop('SalePrice',axis = 1)

In [13]:
#import train_test_split to split the data for training and testing

from sklearn.model_selection import train_test_split #we are only importing  train_test_split function from sklearn within the class model_selection

#train_test_split is splitiing the data randomnly

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25) #75% data will be for training and 25% data for testing

In [14]:
from sklearn.linear_model import LinearRegression  #importing LinearRegression from sklearn within the class linear_model

In [15]:
lin_reg = LinearRegression() #creating object of LinearRegression

In [16]:
lin_reg.fit(X_train,y_train) #training and fitting LR object using training data

LinearRegression()

In [17]:
m  = lin_reg.coef_
print(m)

[ 1.19772095e+01  4.76447348e-01  1.71757474e+04  2.02415644e+02
  2.93981716e+02  2.00646134e+01  1.03434593e+01  1.05393740e+00
  5.47811948e+00  5.14606039e+01  4.53254339e+01 -9.39027489e+00
  9.09232204e+03  2.44615996e+03 -3.56740698e+03 -7.52436955e+03
 -2.44700971e+04  5.86813729e+03  3.81102861e+03  6.15297626e+01
  1.33178385e+04 -5.09516985e+00  2.54638178e+01  2.12860872e+01
  1.87480206e+01  5.58527222e+01]

In [18]:
c = lin_reg.intercept_
c

-1134355.1279151735

In [19]:
ypred=lin_reg.predict(X_test)  #ypred consist of the predicted salary corresponding to X_test

In [20]:
ypred_train = lin_reg.predict(X_train)

In [21]:
from sklearn.metrics import mean_squared_error #calculating MSE
MSE=mean_squared_error(ypred,y_test)
print("MSE for Testing:",MSE)

MSE for Testing: 1342544355.6380198

In [22]:
#Training Error
y_pred_training = lin_reg.predict(X_train)
MSE_training=mean_squared_error(y_pred_training,y_train)
print("MSE for Training:",MSE_training)

MSE for Training: 1228184030.7881176

In [23]:
((MSE_training - MSE)/MSE_training) * 100 #training and testing errors are similar

-9.311334619496549

In [24]:
lin_reg.score(X_train,y_train) #Train R2 value

0.7969364206014222

In [25]:
lin_reg.score(X_test,y_test) #Test R2 value

0.8089353186149766

In [26]:
#END